<template>

    <div>
        
        <div v-if="modal === true">
            <header>
                <h1>Agregar Paciente</h1>
            </header>
            <Formulario 
                @-enviar="modalCtrl($event)"
            />
        </div>

        <div v-else>
            <header>
                <h1>Listado de Pacientes</h1>
            </header>
            <MascotaList />
            
        </div>

        <div class="nuevo-gasto" :class="{ 'cerrar' : modal }">
            <img :src="IconoNuevo" @click="modalCtrl">
        </div>


    </div>
</template>

<script setup lang="ts">
import IconoNuevo from '../assets/nuevo-gasto.svg'
import MascotaList from '@/components/MascotaList.vue';
import Formulario from '@/components/Formulario.vue'
import { ref } from 'vue';
import type { Ref } from 'vue'

let modal:Ref<Boolean> = ref(false)

const modalCtrl = (event:any) => {
    if (modal.value === true) {
        modal.value = false
        console.log(event);
    } else {
        modal.value = true
        console.log(event);
    }
}


</script>

<style>

    .nuevo-gasto {
        position: fixed;
        bottom: 5rem;
        right: 5rem;
    }

    .cerrar {
        transform: rotate(45deg);
    }

    .nuevo-gasto img {
        width: 5rem;
    }
    .nuevo-gasto img:hover {
        cursor: pointer;
    }

</style>