<template>

    <div>
        <form v-on:submit="guardarDatos" class="formulario">

            <div v-if="mensaje">
                <Error :prop1="mensaje" :prop2="tipo" />
            </div>

            <div v-else>
                <!-- Pues no se muestra nada vea -->
            </div>

            <div class="campo">
                <label for="nombreDueño"> Nombre del Dueño: </label>
                <input 
                    id="nombreDueño"
                    type="text" 
                    placeholder="Nombre(s)"
                    v-model="nombreDueño"
                >
            </div>

            <div class="campo">
                <label for="numeroDueño"> Numero Telefonico: </label>
                <input 
                    id="numeroDueño"
                    type="tel" 
                    placeholder=""
                    v-model="numeroDueño"
                >
            </div>

            <div class="campo">
                <label for="nombreMascota"> Nombre de la mascota: </label>
                <input 
                    id="nombreMascota"
                    type="text" 
                    placeholder="Nombre"
                    v-model="nombreMascota"
                >       
            </div>

            <div class="campo">
                <label for="alta"> Fecha de Alta: </label>
                <input 
                    type="date" 
                    id="alta" 
                    placeholder="DD/MM/AAAA" 
                    v-model="alta"
                >
            </div>

            <div class="campo">
                <label for="sintomas"> Sintomas: </label>
                <input 
                    id="sintomas"
                    type="text" 
                    placeholder=""
                    v-model="sintomas"
                >
            </div>

            <div class="boton">
                <input 
                    type="submit" 
                    value="Guardar"
                >
            </div>

        </form>
    </div>
</template>

<script setup lang="ts">

import Error from '@/components/Error.vue'
import PacienteData from '@/data/PacienteData';
import { ref } from 'vue';
import type { Ref } from 'vue';

const emits = defineEmits(['Enviar'])

let nombreDueño:Ref<string> = ref('')
let numeroDueño:Ref<string> = ref('')
let nombreMascota:Ref<string> = ref('')
let alta:Ref<string> = ref('')
let sintomas:Ref<string> = ref('')

let mensaje = ref('')
let tipo = ref('')

const guardarDatos = (e: any) => {
    e.preventDefault();

    if ([nombreDueño.value, numeroDueño.value, nombreMascota.value, alta.value, sintomas.value].includes('')) {
            mensaje.value = 'Todos los campos son obligatorios'
            tipo.value = 'error'
            return
        }

    if (numeroDueño.value.length < 10 || numeroDueño.value.length > 10) {
        mensaje.value = 'El numero de telefono no es valida. (10 dijitos)'
            tipo.value = 'advertencia'
            return
    }

    console.log(numeroDueño.value.length);
    
    
    let registro = {
        nombreDueño: nombreDueño.value,
        numeroDueño: numeroDueño.value,
        nombreMascota: nombreMascota.value,
        alta: alta.value,
        sintomas: sintomas.value
    }
    console.log(registro);
    emits("Enviar", false)
    PacienteData.push(registro)
    
}
    
</script>

<style>
    .formulario {
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: #d0e2ff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="date"],
.formulario input[type="tel"] {
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    flex: 1;
}
.formulario input[type="submit"] {
    background-color: #1048a4;
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
    transition: background-color 300ms ease;
}
@media (min-width: 768px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: #042a67;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: #f5f5f5;
}
</style>