<template>
    <div class="card">

        <div class="contenido">
            <p>
                <span style="font-weight: bold;">Nombre del Dueño: </span> 
                <span> {{ props.nombreDueño }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Numero telefonico: </span>
                <span>{{ props.numeroDueño }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Nombre de la Mascota: </span>
                <span>{{ props.nombreMascota }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Fecha de Alta: </span>
                <span>{{ props.alta }}</span>
            </p>

            <p>
                <span style="font-weight: bold;">Sintomas: </span>
                <span>{{ props.sintomas }}</span>
            </p>

        </div>
        
    </div>
</template>

<script setup lang="ts">
import type { IPaciente } from '@/interface/IPaciente';

const props = defineProps<IPaciente>()

</script>

<style>
    .card{
        margin: 2%;
        border: 2px solid bisque;
    }

    .contenido{
        margin: 4%;
    }

</style>