<template>
    <div>
        <MascotaItem 
            v-for="(paciente, index) in PacienteData" :key="index" 
            v-bind="paciente"
        />
        
    </div>
</template>

<script setup lang="ts">
import PacienteData from '@/data/PacienteData';
import MascotaItem from './MascotaItem.vue';

</script>

<style>
    
</style>